.parent {
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.child {
    border: 2px solid palegreen;
    background-color: palegoldenrod;
    padding: 20px;
    font-size: 18px;
    /* margin: 10px 0; */
    /* display: inline; */
}